@model IEnumerable<ReMenu.Models.Restaurant>

@{
    ViewData["Title"] = "FavoriteRestaurants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Favorite Restaurants</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
            </tr>
        }
    </tbody>
</table>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>My Google Map</title>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Locate Your Favorite Spots</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            // Map options
            var options = {
                zoom: 9,
                center: { lat: 42.5031, lng: -83.1835 }
            }

            // New map
            var map = new google.maps.Map(document.getElementById('map'), options);
            
            // Add marker
            var marker = new google.maps.Marker({
                position: { lat: 42.490700, lng: -83.187300 },
                map: map
            });

            var infoWindow = new google.maps.InfoWindow({
                content:'<h1>Kennedy Miles, 2874 Columbia Rd.</h1>'
            })

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
            });

            addMarker({ lat: 42.463871, lng: -83.084457 });   //Loui's Pizza: 23141 Dequindre Rd, Hazel Park, MI 48030
            addMarker({ lat: 42.560951, lng: -83.175468 });   //Maggiano's Little Italy: 2089 W Big Beaver Rd, Troy, MI 48084
            addMarker({ lat: 42.477930, lng: -83.467570 });   //Library Pub: 42705 Grand River Ave, Novi, MI 48375
            addMarker({ lat: 42.502910, lng: -83.172440 });   //Crispelli's Bakery & Pizzeria: 28939 Woodward Ave., Berkley, MI 48072
            addMarker({ lat: 42.491180, lng: -83.183980 });   //Republica: 1999 Coolidge Hwy, Berkley, MI 48072
            addMarker({ lat: 42.331730, lng: -83.0654465 });  //Nemo's Bar: 1384 Michigan Ave, Detroit, MI 48226
            addMarker({ lat: 42.489979, lng: -83.202477 });   //Subway: 27163 Greenfield Rd, Southfield, MI 48076
            addMarker({ lat: 42.524071, lng: -83.349289 });   //Souper Bowl: 32407 Northwestern Hwy, Farmington Hills, MI 48334
            addMarker({ lat: 42.500155, lng: -83.320905 });   //Cosi: 37652 W 12 Mile Rd, Farmington Hills, MI 48331



            //Add Marker Function
            function addMarker(coords) {
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map
                });
            }

        }
    </script>
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc03Sx367t7nQLv1FrVzZtf2OMu-fNIVY&callback=initMap">
    </script>
</body>
</html>