@model IEnumerable<ReMenu.Models.Meal>

@{
    ViewData["Title"] = "FilterByTraits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meals By Category and Rank</h2>
<p>Let's find what you're looking for!</p>


<label for="category">Category</label>
<select id="category" name="category">
    <option value="appetizer">Appetizer</option>
    <option value="breakfast">Breakfast</option>
    <option value="fish">Fish</option>
    <option value="meat">Meat</option>
    <option value="pasta">Pasta</option>
    <option value="pizza">Pizza</option>
    <option value="salad">Fish</option>
    <option value="sandwich">Sandwich</option>
    <option value="soup">Soup</option>
    <option value="sushi">Sushi</option>
    <option value="vegetarian">Vegetarian</option>
</select>

<label for="rating">Rating</label>
<select id="rating" name="rating">
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
</select>

<table class="table" table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MealPicture)</th>
            <th>@Html.DisplayNameFor(model => model.FoodOrder)</th>
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th>@Html.DisplayNameFor(model => model.FutureModification)</th>
            <th>@Html.DisplayNameFor(model => model.FutureOrder)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.Category == "Appetizer")
            {
                if (item.Rating >= 3)
                {
                    <tr>
                        <td>
                            <img src="~/Images/@item.MealPicture"
                                 class="w3-round"
                                 height="150" width="100"
                                 asp-append-version="true" />
                        </td>
                        <td>@item.FoodOrder</td>
                        <td>@item.Category</td>
                        <td>@item.Price</td>
                        <td>@item.Rating</td>
                        <td>@item.FutureModification</td>
                        <td>@item.FutureOrder</td>
                    </tr>
                }


            }
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
