@model ReMenu.Models.Meal

@{
    ViewData["Title"] = "MealDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "noimage.jpg");
}

<h1>Meal Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foodie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foodie.FoodieId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Restaurant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Restaurant.RestaurantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FutureModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FutureModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FutureOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FutureOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MealId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
