@model IEnumerable<ReMenu.Models.Meal>

@{
    ViewData["Title"] = "ViewAllMeals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">All of the Meals</h3>


<p>
    <a asp-action="CreateFood">Create New</a>
</p>
<table class="table" table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MealPicture)</th>
            <th>@Html.DisplayNameFor(model => model.FoodOrder)</th>
            @*<th>@Html.DisplayNameFor(model => model.Restaurant.Name)</th>*@
            <th>@Html.DisplayNameFor(model => model.Category)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Rating)</th>
            <th>@Html.DisplayNameFor(model => model.FutureModification)</th>
            <th>@Html.DisplayNameFor(model => model.FutureOrder)</th>
            <th>@Html.DisplayNameFor(model => model.FavMeal)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.MealPicture"
                         class="w3-round"
                         height="150" width="100"
                         asp-append-version="true" />
                </td>
                <td>@item.FoodOrder</td>
                @*<td>@item.Restaurant.Name</td>*@
                <td>@item.Category</td>
                <td>@item.Price</td>
                <td>@item.Rating</td>
                <td>@item.FutureModification</td>
                <td>@item.FutureOrder</td>
                <td>@item.FavMeal</td>
            </tr>

        }
    </tbody>
</table>

@*<div>
        @foreach (var item in Model)
        {
            @if (item.Category == "Appetizer")
            {
                <tr>
                    <th>
                        <td>@item.Category</td>
                    </th>
                </tr>
                <tr>
                    <td>@item.FoodOrder</td>
                    <td>@item.Category</td>
                    <td>@item.Price</td>
                    <td>@item.Rating</td>
                    <td>@item.FutureModification</td>
                    <td>@item.FutureOrder</td>
                </tr>

             }
            
         }
</div>*@

